<!--<p id="notice"><%= notice %></p>-->
<div class="information wrapper container-fluid">

  <p class="gravatar-wrapper">
    <%= gravatar_for @user %>
  </p>
  <div class="col-xs-offset-2 col-xs-8">

    <strong>Nickname:</strong>
    <%= @user.nickname %>

    <strong>Email:</strong>
    <%= @user.email %>
  </div>

</div>