<!--<p id="notice"><%#= notice %></p>-->
<div class="information wrapper container-fluid">

  <p class="gravatar-wrapper">
    <%= gravatar_for @user %>
  </p>
  <div class="col-xs-offset-3 col-xs-6 fields-wrapper">
    <div class="field ">
      <span>Nickname:</span>
      <%= @user.nickname %>
    </div>
    <div class="field ">
      <span>Email:</span>
      <%= @user.email %>
    </div>
  </div>

</div>