<div class="wrapper about container-fluid">

  <h1>About us</h1>

  <p class="col-xs-offset-1 col-xs-8">An online auction is an auction which is held over the internet.
    Online auctions come in many different formats,
    but most popularly they are ascending English auctions,
    descending Dutch auctions, first-price sealed-bid, Vickrey auctions,
    or sometimes even a combination of multiple auctions,
    taking elements of one and forging them with another.
    The scope and reach of these auctions have been propelled by the
    Internet to a level beyond what the initial purveyors had anticipated.
    This is mainly because online auctions break down and remove
    the physical limitations of traditional auctions such as geography,
    presence, time, space, and a small target audience.
    This influx in reachability has also made it easier to commit unlawful
    actions within an auction.
    In 2002, online auctions were projected to account for 30% of all
    online e-commerce due to the rapid expansion
    of the popularity of the form of electronic commerce.</p>

  <p class="col-xs-offset-3 col-xs-8">First Ukrainian's Auction division specializes
    in preparing properties for quick sale and closing in an auction environment.
    Online Auction tools is application software,
    that can either be deployed on a Web server or a Desktop.
    This software is used by customers of online auctions such as eBay or Oztion.
    Online Auction companies have opened up their applications
    to third party application developers to extend the
    capabilities and increase revenue.
    API interfaces were developed using XML which enable third party
    developers to build applications that use the back-end of the online auction.</p>

  <p class="col-xs-offset-1 col-xs-8">
    We work closely with both the sellers and  auction companies to determine
    any title defects that would prevent the sale of their assets.
    We actively coordinate resolution of title defects prior to auction
    so that insurable title can be advertised on auction day.
    We work with the auction companies to establish auction day
    processes and assist with auction day logistics,
    including being on hand to accept deposits and contracts
    from winning bidders.
    We select local closing teams that are able to handle high volume,
    short timeline closings and are uniquely equipped
    for the specialized processes that auction transactions require.
    We track and monitor the progress of the closings and act as a vendor manager,
    giving the sellers one point of contact for all of their auction assets under contract.</p>



</div>