<div class="wrapper container-fluid">
  <%= link_to new_product_path, class: "col-xs-6" do %>
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/3o6EhL2vAVctxAHNOo/200w.webp" srcset="https://media.giphy.com/media/3o6EhL2vAVctxAHNOo/200w.webp 200w,
            https://media.giphy.com/media/3o6EhL2vAVctxAHNOo/giphy.webp 480w" sizes="100vw" alt="">
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/CnMzV9F0ADqIE/200w.webp" srcset="https://media.giphy.com/media/CnMzV9F0ADqIE/200w.webp 200w,
            https://media.giphy.com/media/CnMzV9F0ADqIE/giphy.webp 480w" sizes="100vw" alt="">
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/l2Vz58lHwOf60/200w.webp" srcset="https://media.giphy.com/media/l2Vz58lHwOf60/200w.webp 200w,
            https://media.giphy.com/media/l2Vz58lHwOf60/giphy.webp 480w" sizes="100vw" alt="">
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/C7OZ0RsjblarC/200w.webp" srcset="https://media.giphy.com/media/C7OZ0RsjblarC/200w.webp 200w,
            https://media.giphy.com/media/C7OZ0RsjblarC/giphy.webp 480w" sizes="100vw" alt="">
      <span>Share yours...</span>
<% end %>
  <%= link_to products_path, class: "col-xs-6" do %>
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/11GBAS9lGbW2LS/200w.webp" srcset="https://media.giphy.com/media/11GBAS9lGbW2LS/200w.webp 200w,
            https://media.giphy.com/media/11GBAS9lGbW2LS/giphy.webp 480w" sizes="100vw" alt="">
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/BoQ5EKfwqk40M/200w.webp" srcset="https://media.giphy.com/media/BoQ5EKfwqk40M/200w.webp 200w,
            https://media.giphy.com/media/BoQ5EKfwqk40M/giphy.webp 480w" sizes="100vw" alt="">
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/4ck2W3kjVNh2o/200w.webp" srcset="https://media.giphy.com/media/4ck2W3kjVNh2o/200w.webp 200w,
            https://media.giphy.com/media/4ck2W3kjVNh2o/giphy.webp 480w" sizes="100vw" alt="">
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/EZBjtty0KAx7a/200w.webp" srcset="https://media.giphy.com/media/EZBjtty0KAx7a/200w.webp 200w,
            https://media.giphy.com/media/EZBjtty0KAx7a/giphy.webp 480w" sizes="100vw" alt="">
      <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/wVZVBtPvhscpO/200w.webp" srcset="https://media.giphy.com/media/wVZVBtPvhscpO/200w.webp 200w,
            https://media.giphy.com/media/wVZVBtPvhscpO/giphy.webp 480w" sizes="100vw" alt="">
      <span>Find yours...</span>
<% end %>
</div>
