<div class="container">
  <a class="col-xs-6">Add item
    <%= image_tag("add.png", :alt => "add") %>
  </a>
  <a class="col-xs-6">Find item
    <%= image_tag("search.png", :alt => "find") %>
  </a>
</div>