<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <li class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>