// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.locations {
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  table {
    margin-bottom: 50px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}