// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 15vh;
  position: relative;
  img {
    width: 18vw;
    margin: 3px;
  }
  video {
    width: 40vw;
    margin: 3px;
  }
  a {
    position: absolute;
    height: 150%;
    &:last-child {
      left: 50%;
    }
    &:hover {
      text-decoration: none;
      background-color: inherit !important;
      span {
        display: block;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
      }
    }
    span {
      display: none;
      font-size: 28px;
      color: rgb(220, 221, 222);
      text-align: center;
      padding-top: 45%;
      position: absolute;
      width: 95%;
      height: 100%;
      left: 0;
      top: 0;
    }

  }
}

.about {
  text-align: center;
  h1 {
    font-size: 30px;
  }
  p {
    background-color: rgb(219,234,237);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 20px 25px;
  }
}