<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
  <!--<strong>Name:</strong>-->
  <!--<%#= @location.name %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>City:</strong>-->
  <!--<%#= @location.city %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Room amount:</strong>-->
  <!--<%#= @location.room_amount %>-->
<!--</p>-->

<%#= link_to 'Edit', edit_location_path(@location) %>
<!--<%#= link_to 'Back', locations_path %>-->


<div class="container-fluid fake">
  <div class="col-xs-6">
    <h1>Products</h1>
    <div class="items">
      <div class="item">
        <%=image_tag("item3.jpg")%>
        <span>Description</span>
        <div class="links">
          <span>Edit </span> |
          <span>Delete</span>
        </div>
      </div>
      <div class="item">
        <%=image_tag("item1.jpg")%>
        <span>Description</span>
        <div class="links">
          <span>Edit </span> |
          <span>Delete</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <h1>Purchases</h1>
    <div class="items">
      <div class="item">
        <%=image_tag("item5.jpg")%>
        <span>Description</span>
        <div class="links">
          <input type="number" class="rate">
          <input type="text" class="comment">
          <span>Save </span> |
          <span>Done</span>
        </div>
      </div>
    </div>
  </div>
</div>