<div class="header">
  <%= image_tag("service-auction.jpg", :alt => "logo") %>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to "About us", about_us_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to "Add item", '#' %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to "Account", signup_path %></a>
    </li>
  </ul>
</div>
